:root{
  --gray:#212121;
  --green:#009660;
  --white:#e9e9e9;
  --black:#0c0c0c;
}
@font-face {
  font-family: new;
  src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
  font-family: hell;
  src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR_2SBNfxj1ry.woff2)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white)
}

html,
body {
  height: 100%;
  width: 100%;
}

body,
html {
  background-color: var(--black)
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  position: fixed;
  width: 100%;
}
.nav1 {
  display: flex;

  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.nav1 img {
  height: 50px;
}
.nav1 h4 {
  font-family: new;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 100;
}
.nav2 h4 {
  font-family: new;
  font-size: 16px;
  font-weight: 100;
}
.nav2 h4 i  {

  font-size: 20px;

}
.nav2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav3 h4 {
  font-family: new;
  font-size: 16px;
  font-weight: 100;
}
.nav3 {
  display: none;
  align-items: center;
  gap: 20px;
}
@media(max-width:600px){
  nav{
    padding: 15px 20px;
  }
  .nav1{
    font-size: 12px;
  }
   .nav1 h4{
    font-size: 15px;
  }
   .nav1 img{
    height: 30px;
  }
  .nav2{
    display: none;
  }
  .nav3{
    display: flex;
  }
}
 main{
  padding-top: 100px ;
 }
.section1{
  display: flex;
  align-items: flex-start ;
  justify-content: space-between;
    padding: 15px 50px;
    font-family: hell;

}
.section1 .left{
  background-color: 0;
  width: 42%
}
.section1 .left h1{
  font-size: 48px
}
.section1 .left .tags{
display: flex;
align-items: center;
gap:10px;
 flex-wrap: nowrap;
margin: 10px 0;
}
.section1 .left .tags h4{
  padding: 10px 20px;
  border-radius: 4px;
 background-color: var(--gray)

}



.section1 .right{
  background-color: 0;
    width: 45%
}

