*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    color: #fff;
     /* cursor: none; */
}
img{
     width: 100px;
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: translate(-50%, -50%);
     transition: all 0.1s ease-out;
     pointer-events: none;
}