* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;

  background: #ffffff;
  font-family: "Poppins", sans-serif;
}
main {
     height: 100%;
     width: 100%;
  display: flex;
  justify-content: space-bitween;
  align-items: center;
    overflow: auto;
//     flex-wrap: wrap ; 
  gap: 20px;

  .container {
     position: relative;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: #1c1c1c;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);


    animation: animate 4s linear infinite;


    #bottom {

      
      bottom: 50px;
      width: 400px;
      height: 50px;
      border-radius: 10px;
      color: #ffffff;
      background: linear-gradient(transparent, #000);
    }
  }
}
