*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
     overflow: hidden;


}

body{
    background-color: #111;
    color: #fff;
}